# This script contains the following:
- Import libraries
- Load datasets
- Checking dataframes import
- Preparing dataframes for merging
- Merging dataframes
- Export

# Import libraries

In [8]:
import pandas as pd
import numpy as np
import os

# Load datasets

In [9]:
# Define paths and filenames
path = r'/Users/macbook/Dropbox/Mac/Documents/Pro/Data_Analyst/Course_Career_foundry/A4_Python/2023.08_Instacart_basket_analysis'
orders_file_path = os.path.join(path, 'prepared data', 'orders_products_combined.pkl')
products_file_path = os.path.join(path, 'prepared data', 'products_checked.csv')

# Import dataframes
df_ords = pd.read_pickle(orders_file_path)  # Use pd.read_pickle() for pickle files
df_prods = pd.read_csv(products_file_path, index_col=0)

# Checking dataframes import

In [10]:
# checking df_ords import shape
df_ords.shape

(32640698, 10)

In [11]:
# checking df_prods import shape
df_prods.shape

(49672, 5)

# Preparing dataframes for merging

In [12]:
# Checking Orders dataframe 
df_ords.head()

,order_id,user_id,number_order_client,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both

In [13]:
# Checking Products dataframe 
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

### We will merge df_prods on df_ords using product_id

# Merging dataframes

In [17]:
# Merge two DataFrames, df_ords and df_prods, using the 'product_id' column as the key.
df_ords_merged = df_ords.merge(df_prods, on='product_id', indicator='merge_indicator')

In [18]:
# checking merging
df_ords_merged.head()

,order_id,user_id,number_order_client,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_indicator
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both

In [22]:
# checking merging flag
df_ords_merged['merge_indicator'].value_counts()

both          32404859
left_only            0
right_only           0
Name: merge_indicator, dtype: int64

### NOTE: merging returns only 'both' values.

In [23]:
# Checking merge datframe's shape
df_ords_merged.shape

(32404859, 15)

# Exporting in pickle

In [21]:
#export to pickle
df_ords_merged.to_pickle(os.path.join(path, 'prepared data', 'orders_products_merged'))